[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "<=1.0.0"

[dev-packages]
sphinx = "*"
mkdocs = "*"
mkdocs-material = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-localserver = "*"

[requires]
python_version = "3.7"
